<div class="container">
  <div class="page-header">
    <h1>{{board.name}}</h1>
  </div>

  <p class="lead">{{board.desc}}</p>

  <h2>Board history <small><a href="/board/{{board.id}}">details</a></small></h2>

  <ul>
    {{#each actions as |action|}}
    <li><h3><a href="/board/{{board.id}}/action/{{action.id}}">{{action.type}}</a>
      <small>Performed by <span class="user">{{action.memberCreator.fullName}}</span> on {{action.date}}</small></h3>
      <pre><code>{{action.src}}</code></pre></li>
    {{/each}}
  </ul>
</div>
